<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ay.it.asp.dao.GradeMapper" >
  <resultMap id="gradeResultMap" type="ay.it.asp.entity.Grade" >
    <id column="grade_id" property="gradeId" jdbcType="VARCHAR" />
    <result column="stu_id" property="stuId" jdbcType="VARCHAR" />
    <result column="stu_score" property="stuScore" jdbcType="INTEGER" />
    <result column="test_id" property="testId" jdbcType="VARCHAR" />
    <result column="test_state" property="testState" jdbcType="VARCHAR" />
  </resultMap>
   <select id="selectAllGrade" parameterType="Student" resultMap="gradeResultMap">
  	select * from grade where stu_id = #{stuId};
  </select>
  <!-- teaid查询多个 -->
 <select id="findByMap" parameterType="map" resultMap="gradeResultMap">
  	select * from grade where test_id = #{testId} and stu_id = #{stuId};
  </select>
   <!-- 根据主键修改供应商信息 -->
	<update id="update" parameterType="Grade" >
		update grade set
		stu_score=#{stuScore},test_state=#{testState}
		where
		grade_id=#{gradeId}	
	</update>
  <!-- 添加 -->
  <insert id="add" parameterType="Grade">
		insert into grade
		(grade_id,stu_id,stu_score,test_id,test_state)
		values
		(#{gradeId},#{stuId},#{stuScore},#{testId},#{testState});
	</insert>
	<!-- Grade findbyId(String gradeId); -->
	<select id="findbyId" resultMap="gradeResultMap">
		select * from grade where grade_id = #{gradeId};
	</select>
	<!-- Grade selectBytestIdAndStuId(String stuId, String testId); -->
  	<select id="selectBytestIdAndStuId" resultMap="gradeResultMap">
		select * from grade where stu_id = #{param1} and test_id = #{param2};
	</select>
</mapper>