<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ay.it.asp.dao.TestTopicMapper" >
  <resultMap id="testTopicResultMap" type="ay.it.asp.entity.TestTopic" >
    <id column="test_topic_id" property="testTopicId" jdbcType="VARCHAR" />
    <result column="test_id" property="testId" jdbcType="VARCHAR" />
    <result column="top_id" property="topId" jdbcType="VARCHAR" />
    <result column="top_score" property="topScore" jdbcType="INTEGER" />
  </resultMap>
   <!-- 添加分数 -->
  	<update id="updateScore" parameterType="Map" >
		UPDATE test_topic SET top_score = #{score} where top_id = #{topId} and test_id = #{testId};
	</update>
	<!-- 删除一个-->
	<delete id="deleteOne" parameterType="Map">
	delete from test_topic where top_id = #{topId} and test_id = #{testId};
   </delete>
	<!-- 用testid查询topid并打包map,返回 -->
  <select id="selectAlltopicId" parameterType="string" resultType="string" >
    select top_id from test_topic where test_id = #{testId};
  </select>
  <!-- 用topid查询,返回 -->
  <select id="findone" parameterType="Map" resultType="Integer" >
    select count(1) from test_topic where top_id = #{topId} and test_id = #{testId};
  </select>
   <!-- 用topid查询,返回 -->
  <select id="findoneB"  resultMap="testTopicResultMap" >
    select * from test_topic where top_id = #{param2} and test_id = #{param1};
  </select>
  <!-- 添加试题 -->
  <insert id="addTi" parameterType="TestTopic">
		insert into test_topic
		(test_topic_id,test_id,top_id,top_score)
		values
		(#{testTopicId},#{testId},#{topId},#{topScore});
  </insert>
	
</mapper>